.App {
  text-align: center;
  background-color: #0085dd;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.list {
  z-index: 1;
}

.happyday {
  // display: inline;
  font-family: 'Modak', cursive;
  font-size: 80px;
  z-index: 1;
  list-style-type: none;
}

.mother {
  // display: inline;
  font-family: 'Allura', cursive;
  font-size: 80px;
  z-index: 1;
  list-style-type: none;
}

/*
.circle {
  position: absolute;
  background-color: rgb(203, 206, 17);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  z-index: 0;
}
*/

.heart-shape {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(250, 66, 66, 1);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
	
.heart-shape:before {
  position: absolute;
  bottom: 0px;
  left: -150px;
  width: 300px;
  height: 300px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(250, 66, 66, 1);
}

.heart-shape:after {
  position: absolute;
  top: -150px;
  right: 0px;
  width: 300px;
  height: 300px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(250, 66, 66, 1);
}